@media (max-width: 1200px) {
    .logo-svg {
        width: 110px;
    }

    .nav-item {
        margin: 0 6px;
    }

    .nav-lang {
        padding: 10px;
    }

    .nav-icon {
        width: 30px;
        height: 30px;
    }

    .nav-icon .icon {
        width: 16px;
        height: 14px;
        font-size: 18px;
    }

    .nav-icon i {
        margin-top: -4px;
    }

    .nav-name {
        font-size: 15px;
    }
}

@media (max-width: 991px) {
    .logo-svg {
        width: 90px;
    }

    .nav-name {
        font-size: 14px;
    }

    .nav-icon {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        background-size: cover;
    }

    .nav {
        display: none;
    }

    .nav-mob {
        display: flex;
    }

    .search-body {
        flex-direction: column;
    }

    .fly-to{
        flex-wrap: wrap;
        justify-content: unset;
    }

    .fly-back{
        flex-wrap: wrap;
        justify-content: unset;
        margin-top: 20px;
    }

    .search-pref {
        margin-top: 20px;
    }

    .search-lg {
        width: auto;
        flex-grow: 1;
    }

    .search-sm {
        width: 40%;
    }

    .search-from {
        order: 0;
    }

    .search-date {
        order: 1;
        margin: 0;
    }

    .search-to {
        order: 2;
        margin-top: 10px;
    }

    .search-pass {
        order: 3;
        margin-top: 10px;
    }

    .form-button {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }

    .form-button .button {
        width: 150px;
    }

    .big-plane {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .search-lg {
        width: 100%;
        flex-grow: 0;
        margin: 5px 0;
    }

    .search-sm {
        width: 100%;
        margin: 0;
    }

    .form-control {
        padding: 29px 0;
    }

    .search-item .form-input {
        padding: 17px 16px 18px 42px;
    }

    .form-button .button {
        width: 200px    ;
    }

    .big-plane {
        margin: 50px 0;
    }

    .title {
        font-size: 40px;
    }

    .search-add {
        margin-right: 10px;
    }

    .nav-mob-control {
        padding: 0 10px;
    }
}

@media (max-width: 370px) {
    .title {
        font-size: 35px;
    }
}

@media (max-width: 700px) and (orientation:landscape) {
    .nav-mob-content {
        padding-top: 0;
    }

    .nav-mob-item {
        margin: 5px 0;
    }

    .nav-lang {
        padding: 7px;
    }
}

@media (max-width: 600px) and (orientation:landscape) {
    .nav-mob-control {
        padding: 0 10px;
    }

    .nav-mob-item {
        font-size: 17px
    }
}

